.topo{
    background-color: blanchedalmond;
    font-size: 24px;
    font-weight: bold;
    padding: 32;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
}
.ul-topo{
    background-color:black;
    padding: 16px;
    text-align: center;
    margin: 0;
}
.menu-lista{
    display:inline-flex;
    padding: 16px;
    margin-right: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    color: aliceblue;
}
.menu-lista:hover{
    display:inline-flex;
    background-color: aquamarine;
    color: black;
    text-decoration: underline;
}
.menu-lista a{
    text-decoration: none;
    color: inherit;
}
.menu-lista:active{
    display: inline-flex;
    background-color: azure;
    color: black;
    text-decoration: underline;
}
a{
    text-decoration: none;
    color: inherit;
}
.titulo.secao{
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 48px;
    background-color: white;
    margin: 20px;
    padding: 20px;
}
    .bloco1{
        display: inline-flex;
        margin-left: auto;
        margin-right: auto;
        background-color: #F5F5F5;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 80px;
        padding-bottom: 80px;
        width:100%;
    }

    .foto{
        display: inline-block;
        position: relative;
        float:left;
    }
     .txt{
        display: inline-block;
        position: relative;
        margin-left: 40px;
     } 
     .titulo-texto{
        font-size: 24px;
        line-height: 40px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
     } 
    .texto{
        font-size: 16px;
        line-height: 30px;
        font-family: Arial, Helvetica, sans-serif;
    }   
    footer{
        background-color: black;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .col-sm-4{
        color: white;
        font-size: 16px;
        line-height: 30px;
        padding-top: 40px;
        padding-bottom: 40px;
    }